@import "variables";
@import "mixin";

.parrafo-inicio {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px
    p{
        max-width: 60%;
    }
}

.foto1-index {
    margin: 10px;
}

.foto2-index {
    margin-bottom: 50px;
}

.lanzamientos-index {
    text-align: center;
    h2 {
        margin-bottom: 30px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        margin: 0 auto;
        width: 70%;
        justify-content: center;
        .hades-pegasus {
            padding: 15px;
            text-align: center;
            img {
                width: 300px;
                
            }
        }
        .hera-llama {
            padding: 15px;
            text-align: center;
            img {
                width: 300px;
            }
        }
        .kore-mulita {
            padding: 15px;
            text-align: center;
            img {
                width: 300px;
            }
        }
    }
}

.mulita-secrets {
    text-align: center;
    padding: 10px 10px;
    h2 {
        margin-bottom: 20px;
    }
    .secrets-container {
        display: grid;
        grid-template-areas:
            "hera hera kore kore"
            "hades hades ares ares";
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 0;
        .set-hera {
            grid-area: hera;
        }
        
        .set-kore {
            grid-area: kore;
        }
        
        .set-hades {
            grid-area: hades;
        }
        
        .set-ares {
            grid-area: ares;
        }

        .set-hera, .set-kore, .set-hades, .set-ares {
            border-radius: 10px;
            overflow: hidden;
            position: relative;
        }

        .set-ares img, .set-hades img, .set-hera img, .set-kore img {
            width: 100%; 
            height: 300px; 
            object-fit: cover; 
        }

        .set-hera img:hover,
        .set-kore img:hover,
        .set-hades img:hover,
        .set-ares img:hover {
            transform: scale(1.05); 
        }
    }
}


