@media (max-width: 1200px) {
    h1, h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    .parrafo-inicio {
        box-sizing: border-box;

        p {
            max-width: 90%;
            font-size: 1.3rem;
        }
    }

    @media (max-width: 1200px) {
        header {
            .wrapper {
                position: relative;
                
                .menu {
                    display: none; 
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    background-color: #c76fcd;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    box-sizing: border-box;
                    z-index: 1000;
                    border-top: 2px solid white;
                    .contenedor-menu{
                        .menu-superior {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                    
                }
    
                .menu-toggle:checked + .icono-hamburguesa + .menu {
                    display: flex; 
                }
    
                .icono-hamburguesa {
                    display: block; 
                    font-size: 2.5rem;
                    cursor: pointer;
                    color: white;
                }
            }
        }
    }

        img {
            width: 100px;
        }

    .lanzamientos-index {
        .grid-container {
            grid-template-columns: 1fr;
            gap: 20px;
            width: 100%;
        }
    }

    .arriba {
        flex-direction: column;
        text-align: center;

        .inicio-centro {
            margin: 10px 0;
        }
    }

    .redes {
        ul {
            justify-content: center;
        }
    }

    .productos-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    }
}

@media (max-width: 320px) {
    h1, h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    .parrafo-inicio {
        box-sizing: border-box;

        p {
            max-width: 90%;
            font-size: 1.3rem;
        }
    }

    .grid-container {
        .hades-pegasus img,
        .hera-llama img,
        .kore-mulita img {
            width: 60%;
        }
    }

    header {
        img {
            width: 80px;
        }
    }

    .redes {
        ul {
            justify-content: center;
        }
    }
}

