@import "variables";
@import "mixin";

.col-md-8 {
    display: flex;
    align-items: center;
}

section.text-center.my-4 p {
    margin-top: 50px;
}

.text-center {
    margin-bottom: 50px;
}