$font-family: "Quicksand", sans-serif;

/* Colores */

$color-titulo: rgb(255, 21, 185);
$color-parrafo: #7a1bb9;
$color-footer-texto: white;
$color-footer-header: #c76fcd;
$color-body-bg: #fd9ff9;
$color-boton-bg: #000080;
$color-boton-hover: #004080;
